<div class="background">
    <div class="loading" *ngIf="loader"></div>

    <section *ngIf="!loader">
        <div class="container">
            <!-- <div class="jumbotron"> -->
            <!-- <h1 class="h1-responsive">Weather Analyzer</h1>
            <p class="lead">We look at the skies</p>
            <p>so you dont have to.</p> -->

            <ng-container *ngIf="positionError['denied']">
                <hr class="my-2">
                <p>
                    We need access to your current location to supply you with the weather. If you are using Google Chrome the links below will
                    help you.
                </p>
                <a class="btn btn-primary btn-lg waves-light" role="button" mdbRippleRadius href="https://support.google.com/chrome/answer/142065?hl=en"
                target="_blank">Share your location</a>
                <a class="btn btn-primary btn-lg waves-light" role="button" mdbRippleRadius href="https://support.google.com/chrome/answer/114662?visit_id=1-636545912159303052-4064005397&rd=1"
                target="_blank">Change site permissions</a>
            </ng-container>
            <ng-container *ngIf="positionError['unavailable']">
                <div class="card red mb-3 text-center z-depth-2">
                    <div class="card-body">
                        <p class="white-text mb-0">
                            Your current location is unavailable...
                            <br>
                            <small>*Please try again later</small>
                        </p>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="positionError['timeout']">
                <div class="card info-color mb-3 text-center z-depth-2">
                    <div class="card-body">
                        <p class="white-text mb-0">
                            Your location search has timed out...
                            <br>
                            <small>*Please try again later</small>
                        </p>
                    </div>
                </div>
            </ng-container>

            <!-- </div> -->
        </div>
    </section>

    <section *ngIf="!loader && geoWeather">
        <div class="container">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ geoWeather['name'] }}, {{ geoWeather['sys']['country'] }}</h4>
                    <h5 class="card-text"><img src="http://openweathermap.org/img/w/{{ geoWeather['weather'][0]['icon'] }}.png" alt="{{ geoWeather['weather'][0]['description'] }}">
                        {{ geoWeather['weather'][0]['main'] }}
                        <small>
                            {{ geoWeather['weather'][0]['description'] }}
                        </small></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Temperature:
                            <strong>{{ geoWeather['main']['temp'] }}<sup>o</sup></strong>
                        </li>
                        <li class="list-group-item">Max Temperature:
                            <strong>{{ geoWeather['main']['temp_max'] }}<sup>o</sup></strong>
                        </li>
                        <li class="list-group-item">Min Temperature:
                            <strong>{{ geoWeather['main']['temp_min'] }}<sup>o</sup></strong>
                        </li>
                        <li class="list-group-item">Humidity:
                            <strong>{{ geoWeather['main']['humidity'] }}%</strong>
                        </li>
                        <li class="list-group-item">Pressure:
                            <strong>{{ geoWeather['main']['pressure'] }}hPa</strong>
                        </li>
                        <li class="list-group-item">Wind Speed:
                            <strong>{{ geoWeather['wind']['speed'] }} m/s</strong>
                        </li>
                    </ul>
                    <div class="card-footer">
                        <button class="btn waves-light float-right" mdbRippleRadius (click)="searchWeather()">
                            Refresh
                            <i class="fa fa fa-refresh"></i>
                        </button>
                    </div>
                </div>













            </div>

        </section>
    </div>
